section.goods-shop.wrapper#shop
  div.swiper
    div.swiper-slider
      ul.swiper-list
        li.swiper-slide
          h3.swiper-slide__title Americano
          p.swiper-slide__text.
            The name Latte (from Italian “milk”) speaks about
            the main ingredient of the drink.
            It is recommended to take fat milk - at least 3.2%.
            In addition to it, milk foam.
          button.swiper-slide__order-button.desktop Order now
          button.swiper-slide__order-button.mobile Add to cart
        li.swiper-slide
          h3.swiper-slide__title Latte
          p.swiper-slide__text.
            The name Latte (from Italian “milk”) speaks about
            the main ingredient of the drink.
            It is recommended to take fat milk - at least 3.2%.
            In addition to it, milk foam.
          button.swiper-slide__order-button.desktop Order now
          button.swiper-slide__order-button.mobile Add to cart
        li.swiper-slide
          h3.swiper-slide__title Espresso
          p.swiper-slide__text.
            Espresso - black coffee made in a coffee machine
            or a special coffee machine, where hot water is passed
            through pressed ground beans at a pressure.
          button.swiper-slide__order-button.desktop Order now
          button.swiper-slide__order-button.mobile Add to cart
    button.swiper-button-prev
    button.swiper-button-next
