section.hero#home
  div.shop-hero
    p.shop-hero__text Drink coffee, enjoy with Samwyle
    h1.shop-hero__title Coffee Shop
    button.shop-hero__order-button Order here
  div.hero-logo
    button.hero-logo__pass-throught
    div.coffee-grinder-container
      p.coffee-grinder-container__text Coffee
