section.services-shop
  div.cup-coffee#about-us
    p.cup-coffee__text About us
  div.store-description
    h2.store-description__title Coffee Shop Samwayle
    p.store-description__description.
      Only one moment -
      when the barista reaches out over the bar to transfer the cup to the outstretched hand of the buyer.
      But this is exactly the moment when a connection arises between us and our guests.
    p.store-description__description.
      And we strive to do our best to maintain this connection
      - starting with our commitment to selecting the highest quality coffee in the world
      and ending with how we interact with guests and organizations to fulfill our obligations.
  div.coffee-of-day
    h2.coffee-of-day__title Coffee of the day
    p.coffee-of-day__description.
      Americano coffee (Italian: Caffè Americano) is an espresso
      diluted with hot water. The presence of foam (cream) depends on how coffee and water are mixed.
      Attention! The concepts of “American” and “American coffee” should not be confused.
      In the second case, this refers not to diluted espresso,
      but to a drink prepared through a filter system.
    button.coffee-of-day__order-button Order now
  div.coffee-americano#promotion
    p.coffee-americano__text Promotion
