section.shop-address#contacts
  div.map-container
    p.map-container__text Contacts
  div.contacts-container
    h2.contacts-container__title Our address
    ul.contacts-container__address-list
      li.address-item 110 St-Cathedral Pkwy Station
      li.address-item 4310 94th St, Flushing
      li.address-item.address-item--mobile 94-54 Corona Ave., Elmhurst
      li.address-item.address-item--mobile 5627 Van Doren St, Queens
    buton#open-more-address.contacts-container__open-more-address See more address
