header.header.wrapper
  button.burger-button#contact-button
  p.header__logo-container Samwayle
  nav.header-menu#header-menu
    ul.header-menu__list#menu-list
      li.header-menu__item.header-menu__item--mobile
        a.header-menu__link(href='#') Home
      li.header-menu__item
        a.header-menu__link(href='#about-us') About us
      li.header-menu__item
        a.header-menu__link(href='#promotion') Promotion
      li.header-menu__item
        a.header-menu__link(href='#shop') Shop
      li.header-menu__item
        a.header-menu__link(href='#contacts') Contacts
      button.contact-button Contact Us
  nav.contacts
    p.contacts__text Follow us
    ul.contacts__list#contact-list
      li.contacts__item
        a.contacts__link.contacts__link--facebook(href='#')
      li.contacts__item
        a.contacts__link.contacts__link--instagram(href='#')
      li.contacts__item
        a.contacts__link.contacts__link--twitter(href='#')

